.login__link {
	cursor: pointer;
	text-decoration: none;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: center;

	color: #ffffff;
}

.login__link:hover {
	opacity: 0.8;
}
