.form__alert {
    display: block;
    width: 100%;

    margin: 0;
    margin-bottom: 13px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}