.account__photo-profile {
    width: 120px;
    height: 120px;
    object-fit: cover;

    margin: auto;

    border: none;
    border-radius: 50%;
}


@media (max-width: 880px) {
    .account__photo-profile {
        margin-bottom: -4px;
    }
}