.card__button-delete {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 35px;
    height: 35px;

    padding: 0;

    background-image: url(../../../images/dumpster.svg);
    background-repeat: no-repeat;
    background-size: 18px 19.3px;
    background-position: center;
    background-color:rgba(0, 0, 0, 0.25);

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

.card__button:hover {
    opacity: 0.5;
}