.form {
    position: relative;
    z-index: 2;
    width: 430px;

    padding: 34px 36px 37px;
    box-sizing: border-box;

    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media (max-width: 500px) {
    .form {
        width: calc(100vw - 30px * 2);
        padding: 25px 22px;
    }
}